<!-- select form -->
<ion-list class="ion-padding ion-text-center">
  <ion-title class="st-section-title ion-margin-bottom"> Search course</ion-title>

  <form [formGroup]="form" style="margin-bottom: 40px">
    <ion-item-group class="st-flex ion-justify-content-between">
      <ng-container *ngIf="categories$ | async as categoryWrapper">
        <ion-item class="st-width-100 ion-margin-horizontal st-item-form">
          <ion-label position="floating">Course category</ion-label>
          <ion-select *ngIf="categoryWrapper.data[0] as data"
                      [value]="defaultCategory"
                      interface="popover"
                      formControlName="category">
            <ion-select-option value="all">All categories</ion-select-option>
            <ion-select-option *ngFor="let c of data.categories" [value]="c.name">
              {{ c.name }}
            </ion-select-option>
          </ion-select>
        </ion-item>

        <ion-item class="st-width-100 ion-margin-horizontal st-item-form">
          <ion-label position="floating">Course year</ion-label>
          <ion-select [value]="categoryWrapper.years[0]" interface="popover" formControlName="year">
            <ion-select-option *ngFor="let year of categoryWrapper.years" [value]="year">
              {{ year }}
            </ion-select-option>
          </ion-select>
        </ion-item>
      </ng-container>
    </ion-item-group>
  </form>
</ion-list>

<!-- legend -->
<ion-toolbar>
  <ion-item>
    <ion-label style="display: flex" class="ion-justify-content-center">
      <div class="legend-container">
        <div class="rectangle closed-course"></div>
        <ion-text>Course is closed</ion-text>
      </div>

      <div class="legend-container">
        <div class="rectangle member-of-course"></div>
        <ion-text>You are member of course</ion-text>
      </div>
    </ion-label>
  </ion-item>
</ion-toolbar>

<!-- course result -->
<ion-list class="ion-padding ion-text-center">
  <ion-title class="st-section-title ion-margin-bottom">
    Courses {{ year.value }} {{ category.value }}, founded {{(foundCourses$ | async)?.length}}
  </ion-title>

  <ion-item class="st-font-1-bold">
    <ion-label>Name</ion-label>
    <ion-label>Teacher</ion-label>
    <ion-label>Students</ion-label>
    <ion-label>Tests</ion-label>
    <ion-label>Course start</ion-label>
    <ion-label>Course end</ion-label>
    <ion-label>Category</ion-label>
    <ion-label>Status</ion-label>
  </ion-item>

  <ion-item *ngFor="let findCourse of foundCourses$ | async"
            [button]="allowCourseSelect && findCourse.isOpen && !userCourseIds.includes(findCourse.courseId)"
            (click)="selectCourse(findCourse)"
            [ngClass]="{
                'closed-course': !findCourse.isOpen,
                'member-of-course': userCourseIds.includes(findCourse.courseId)
            }">
    <ion-label>{{ findCourse.longName }}</ion-label>
    <ion-label>{{ findCourse.creator.displayName }}</ion-label>
    <ion-label>{{ findCourse.numberOfStudents }}</ion-label>
    <ion-label>{{ findCourse.numberOfTests }}</ion-label>
    <ion-label>{{ findCourse.durationFrom | date: 'dd.MM.yyyy' }}</ion-label>
    <ion-label>{{ findCourse.durationTo | date: 'dd.MM.yyyy' }}</ion-label>
    <ion-label>{{ findCourse.category }}</ion-label>
    <ion-label>{{ findCourse.isOpen ? 'Open' : 'Closed' }}</ion-label>
  </ion-item>
</ion-list>

