<!-- select form -->
<ion-list class="ion-padding ion-text-center">
  <ion-text class="st-title"> Search course</ion-text>

  <form [formGroup]="form" style="margin-bottom: 40px">
    <ion-item-group class="st-flex ion-justify-content-between">
      <ng-container *ngIf="categories$ | async as categoryWrapper">
        <ion-item class="st-width-100 ion-margin-horizontal st-item-form">
          <ion-label position="floating">Course category</ion-label>
          <ion-select *ngIf="categoryWrapper.data[0] as data" [value]="defaultCategory" interface="popover"
                      formControlName="category">
            <ion-select-option *ngFor="let c of data.categories" [value]="c.name">
              {{ c.name }}
            </ion-select-option>
          </ion-select>
        </ion-item>

        <ion-item class="st-width-100 ion-margin-horizontal st-item-form">
          <ion-label position="floating">Course year</ion-label>
          <ion-select [value]="categoryWrapper.years[0]" interface="popover" formControlName="year">
            <ion-select-option *ngFor="let year of categoryWrapper.years" [value]="year">
              {{ year }}
            </ion-select-option>
          </ion-select>
        </ion-item>
      </ng-container>
    </ion-item-group>
  </form>
</ion-list>

<!-- course result -->
<ion-list class="ion-padding ion-text-center">
  <ion-text class="st-title" *ngIf="foundCourses$ | async as courses">
    Courses {{ year.value }} {{ category.value }}, founded {{courses.length}}
  </ion-text>

  <ion-item class="st-font-1-bold">
    <ion-label>Name</ion-label>
    <ion-label>Teacher</ion-label>
    <ion-label>Students</ion-label>
    <ion-label>Success rate</ion-label>
    <ion-label>Tests</ion-label>
    <ion-label>Course start</ion-label>
    <ion-label>Course end</ion-label>
  </ion-item>

  <ion-item [button]="allowCourseSelect" *ngFor="let findCourse of foundCourses$ | async" (click)="selectCourse()">
    <ion-label>{{ findCourse.longName }}</ion-label>
    <ion-label>{{ findCourse.creator.displayName }}</ion-label>
    <ion-label>{{ findCourse.numberOfStudents }}</ion-label>
    <ion-label>TODO</ion-label>
    <ion-label>{{ findCourse.numberOfTests }}</ion-label>
    <ion-label>{{ findCourse.durationFrom | date: 'dd.MM.yyyy' }}</ion-label>
    <ion-label>{{ findCourse.durationTo | date: 'dd.MM.yyyy' }}</ion-label>
  </ion-item>
</ion-list>

