<ion-list>
  <!-- table header -->
  <ion-item class="st-font-1-bold">
    <ion-label>Student</ion-label>
    <ion-label class="ion-hide-sm-down">Time started</ion-label>
    <ion-label class="ion-hide-sm-down">Time finished</ion-label>
    <ion-label>Time away</ion-label>
    <ion-label class="ion-hide-md-down">Evaluator</ion-label>
    <ion-label>Received points</ion-label>
  </ion-item>

  <!-- table body -->
  <ion-item button *ngFor="let test of courseTakenTests" (click)="clickedTest(test)">
    <ion-label>{{ test.student?.displayName }}</ion-label>
    <ion-label class="ion-hide-sm-down">{{ test.timeStarted | date: "HH:mm:ss" }}</ion-label>
    <ion-label class="ion-hide-sm-down">{{ test.timeEnded | date: "HH:mm:ss" }}</ion-label>
    <ion-label>{{ test.timeAwayOfTest }} seconds</ion-label>
    <ion-label class="ion-hide-md-down">{{ test.marker?.displayName }}</ion-label>
    <ion-label>
      <ng-container *ngIf="test.receivedPoints">
        {{ test.receivedPoints }} ({{(1 / test.testPoints) * test.receivedPoints | percent}})
      </ng-container>
    </ion-label>
  </ion-item>
</ion-list>
