<ion-content class="ion-padding" *ngIf="course$ | async as course">
  <ion-grid>
    <!-- back button -->
    <app-grid-page-content>
      <ion-toolbar>
        <ion-buttons slot="start">
          <ion-back-button defaultHref="menu/dashboard"
                           (click)="backToDashboard()"
                           text="Back to dashboard">
          </ion-back-button>
        </ion-buttons>
      </ion-toolbar>
    </app-grid-page-content>

    <!-- course info -->
    <app-grid-page-content>
      <div class="st-flex ion-justify-content-between">
        <ion-text style="font-size: 21px" color="primary">
          Course: [{{ course.shortName }}] {{ course.longName }}
        </ion-text>
        <ion-button shape="round" fill="solid" color="warning"
                    *ngIf="isCourseTeacher$ | async"
                    (click)="editExistingCourse()">
          Edit course
        </ion-button>
      </div>
    </app-grid-page-content>

    <!-- all course tests - view for teacher and markers -->
    <app-grid-page-content *ngIf="isCourseTeacherOrMarker$ | async; else studentView">
      <app-generic-card [title]="'Course tests'">
        <app-course-test-public-table
          (clickedEmitter)="redirectToCourseTest($event)"
          [courseTests]="courseTests$ | async">
        </app-course-test-public-table>
        <ion-buttons class="ion-justify-content-end st-small-padding">
          <ion-button color="primary" class="st-small-padding" (click)="redirectToCourseTestCreate()">
            Create test
          </ion-button>
        </ion-buttons>
      </app-generic-card>
    </app-grid-page-content>

    <!-- upcoming tests - view for students -->
    <ng-template #studentView>
      <ion-row class="ion-justify-content-center">
        <ion-col size="12" size-lg="10" size-xl="9">
          <app-generic-card [title]="'Upcoming tests'">
            <app-course-test-public-table
              (clickedEmitter)="checkStartingTest($event)"
              [courseTests]="course.confirmedTests | filterCompletedTestFromUpcomingTests: (studentTests$ | async)">
            </app-course-test-public-table>
          </app-generic-card>
        </ion-col>
      </ion-row>


      <!-- completed tests - view for students -->
      <ion-row class="ion-justify-content-center">
        <ion-col size="12" size-lg="10" size-xl="9">
          <app-generic-card [title]="'Completed tests'">
            <app-course-test-student-completed-table
              (clickedEmitter)="navigateToCompletedCourseTest($event)"
              [courseTakenTests]="studentTests$ | async">
            </app-course-test-student-completed-table>
          </app-generic-card>
        </ion-col>
      </ion-row>
    </ng-template>

    <ion-row class="ion-justify-content-center">
      <ion-col size="12" size-lg="10" size-xl="9">
        <ion-row>
          <!-- course members-->
          <ion-col size="12" size-lg="8">
            <app-generic-card [title]="'Course members'">
              <!-- teacher -->
              <app-account-identification-list
                [title]="'Teacher'"
                [members]="[course.creator]">
              </app-account-identification-list>

              <!-- markers -->
              <app-account-identification-list
                [title]="'Evaluators'"
                [members]="course.markers">
              </app-account-identification-list>

              <!-- students -->
              <ion-list>
                <ion-list-header>
                  <ion-label class="st-section-title">Students</ion-label>
                </ion-list-header>
                <ion-row>
                  <ion-col *ngFor="let marker of course.students" size="12" size-sm="6" size-md="4">
                    <app-course-student
                      (clickedItemEmitter)="showCourseStudent($event)"
                      [courseStudent]="marker"
                      [enableClick]="isCourseTeacherOrMarker$ | async">
                    </app-course-student>
                  </ion-col>
                </ion-row>
              </ion-list>

              <!-- only authorized users -->
              <ng-container *ngIf="isCourseTeacherOrMarker$ | async">
                <!-- received requests -->
                <app-account-identification-list
                  *ngIf="course.receivedStudentsInvitations.length > 0"
                  (clickedItemEmitter)="showStudentReceivedInvitation($event)"
                  [title]="'Received requests'"
                  [enableClick]="true"
                  [members]="course.receivedStudentsInvitations">
                </app-account-identification-list>

                <!-- invited students -->
                <app-account-identification-list
                  *ngIf="course.invitedStudents.length > 0"
                  (clickedItemEmitter)="removeStudentInvitation($event)"
                  [title]="'Invited students'"
                  [enableClick]="true"
                  [members]="course.invitedStudents">
                </app-account-identification-list>

                <!-- invited markers -->
                <app-account-identification-list
                  *ngIf="course.invitedMarkers.length > 0"
                  (clickedItemEmitter)="removeMarkerInvitation($event)"
                  [title]="'Invited markers'"
                  [enableClick]="true"
                  [members]="course.invitedMarkers">
                </app-account-identification-list>
              </ng-container>
            </app-generic-card>
          </ion-col>

          <!-- grades -->
          <ion-col size="12" size-lg="4">
            <ion-row>
              <ion-col size="12">
                <app-generic-card [title]="'Course grading'">
                  <app-course-grades-table [grades]="course.gradings">
                  </app-course-grades-table>
                </app-generic-card>
              </ion-col>
            </ion-row>
            <ion-row *ngIf="isCourseTeacherOrMarker$ | async">
              <ion-col size="12">
                <app-generic-card [title]="'Invite member'">
                  <app-account-search (clickedUserEmitter)="inviteUser($event, course)"></app-account-search>
                </app-generic-card>
              </ion-col>
            </ion-row>
          </ion-col>
        </ion-row>
      </ion-col>
    </ion-row>
  </ion-grid>
</ion-content>
