<ion-list>
  <!-- table header -->
  <ion-item class="st-font-1-bold">
    <ion-label>ID</ion-label>
    <ion-label>Name</ion-label>
    <ion-label>Points</ion-label>
    <ion-label>Position</ion-label>
    <ion-label>Nearest test</ion-label>
    <ion-label>Course length</ion-label>
  </ion-item>

  <ion-item button>
    <ion-label>123.</ion-label>
    <ion-label>Course1</ion-label>
    <ion-label>18 (61.45%)</ion-label>
    <ion-label>3. (91.2%)</ion-label>
    <ion-label>1.02.2020</ion-label>
    <ion-label>1.12.2019 - 3.03.2020</ion-label>
  </ion-item>
  <ion-item button>
    <ion-label>222.</ion-label>
    <ion-label>Course2</ion-label>
    <ion-label>18 (61.45%)</ion-label>
    <ion-label>3. (91.2%)</ion-label>
    <ion-label>1.02.2020</ion-label>
    <ion-label>1.12.2019 - 3.03.2020</ion-label>
  </ion-item>
  <ion-item button>
    <ion-label>124.</ion-label>
    <ion-label>Course3</ion-label>
    <ion-label>18 (61.45%)</ion-label>
    <ion-label>3. (91.2%)</ion-label>
    <ion-label>1.02.2020</ion-label>
    <ion-label>1.12.2019 - 3.03.2020</ion-label>
  </ion-item>

</ion-list>
