<ion-list>
  <!-- table header -->
  <ion-item class="st-font-1-bold">
    <ion-label>ID</ion-label>
    <ion-label>Name</ion-label>
    <ion-label>Creator</ion-label>
    <ion-label>Available from</ion-label>
    <ion-label>Available to</ion-label>
    <ion-label>Duration</ion-label>
    <ion-label>Points</ion-label>
    <ion-label>State</ion-label>
  </ion-item>

  <!-- table body -->
  <ion-item button *ngFor="let test of courseTests" (click)="clickedTest(test)">
    <ion-label>{{ test.testId }}</ion-label>
    <ion-label>{{ test.testName }}</ion-label>
    <ion-label>{{ test.createdBy.displayName }}</ion-label>
    <ion-label>{{ test.availableFrom | date: 'HH:MM dd.MM.YYYY' }}</ion-label>
    <ion-label>{{ test.availableTo | date: 'HH:MM dd.MM.YYYY' }}</ion-label>
    <ion-label>{{ test.duration }}</ion-label>
    <ion-label>{{ test.testPoints }}</ion-label>
    <ion-label>{{ test.testState }}</ion-label>
  </ion-item>

</ion-list>
