<ion-grid>
  <!-- all course tests - view for teacher and markers -->
  <ion-row>
    <ion-col size="12">
      <app-generic-card [title]="'Course tests'">
        <app-course-tests-overview
          [courseTests]="[courseTestApproved, courseTestApproved, courseTestWaitingApproval]">
        </app-course-tests-overview>
      </app-generic-card>
    </ion-col>
  </ion-row>

  <!-- upcoming tests - view for students -->
  <ion-row>
    <ion-col size="12">
      <app-generic-card [title]="'Upcoming tests'">
        <app-course-tests-overview
          [courseTests]="[courseTestApproved, courseTestApproved]">
        </app-course-tests-overview>
      </app-generic-card>
    </ion-col>
  </ion-row>

  <!-- completed tests - view for students -->
  <ion-row>
    <ion-col size="12">
      <app-generic-card [title]="'Completed tests'">
        <app-course-tests-student-completed
          [courseTakenTests]="[courseTakenTest, courseTakenTest, courseTakenTest]">
        </app-course-tests-student-completed>
      </app-generic-card>
    </ion-col>
  </ion-row>
</ion-grid>
