<ion-list>
  <!-- table header -->
  <ion-item class="st-font-1-bold">
    <ion-label>Name</ion-label>
    <ion-label>Date</ion-label>
    <ion-label>Received points</ion-label>
    <ion-label>Evaluator</ion-label>
  </ion-item>

  <!-- table body -->
  <ion-item button *ngFor="let test of courseTakenTests" (click)="clickedTest(test)">
    <ion-label>{{ test.testName }}</ion-label>
    <ion-label>{{ test.availableFrom | date: "dd.MM.YYYY" }}</ion-label>
    <ion-label>
      <ng-container *ngIf="test.receivedPoints">
        {{ test.receivedPoints }} ({{(1 / test.testPoints) * test.receivedPoints | percent}}) / {{ test.testPoints }}
      </ng-container>
    </ion-label>
    <ion-label>{{ test.marker?.displayName }}</ion-label>
  </ion-item>
</ion-list>
