<ion-grid class="ion-padding-vertical">
  <ion-row class="st-justify-center" style="margin-bottom: 50px; margin-top: 20px">
    <ion-col size="12" size-lg="9" class="ion-text-center">
      <ion-text class="attention-text">
        Attention please.<br> If you would like to join to any course, your have to
        authenticate yourself first.
      </ion-text>
    </ion-col>
  </ion-row>

  <ion-row class="st-justify-center">
    <ion-col size="12" size-lg="9">
      <app-generic-card>
        <app-course-search-container></app-course-search-container>
      </app-generic-card>
    </ion-col>
  </ion-row>
</ion-grid>
