<ion-content class="ion-padding">
  <ion-toolbar>
    <ion-list>
      <ion-list-header class="st-flex-col">
        <ion-label>Invite {{ userMain.displayName }}</ion-label>
        <ion-label>Choose course</ion-label>
      </ion-list-header>

      <form [formGroup]="form">
        <app-course-member-type-radio formControlName="selectedCourseRole">
        </app-course-member-type-radio>
      </form>
    </ion-list>
  </ion-toolbar>

  <!-- list still open managed courses -->
  <ion-list>
    <!-- search course input -->
    <ion-item class="st-width-90-center" style="margin-bottom: 16px">
      <ion-label position="floating">Search course</ion-label>
      <ion-input placeholder="Course name" [(ngModel)]="courseName"></ion-input>
    </ion-item>

    <ion-item class="st-font-1-bold">
      <ion-label>ID</ion-label>
      <ion-label class="c-course-name">Name</ion-label>
      <ion-label>Length</ion-label>
    </ion-item>

    <!-- table body -->
    <ng-container *ngIf="user$ | async as user ">
      <ng-container *ngFor="let course of user.courses | courseFilterManagedOpen">
        <ion-item button *ngIf=" !courseName || (courseName && course.course.longName.startsWith(courseName)) "
                  (click)="sendInvitationToCourse(course.course)">
          <ion-label>{{ course.course.Id }}</ion-label>
          <ion-label class="c-course-name">{{course.course.longName}}</ion-label>
          <ion-label>{{ course.course.durationFrom | date: "dd.MM.YYYY" }} -
            {{ course.course.durationTo | date: "dd.MM.YYYY" }}</ion-label>
        </ion-item>
      </ng-container>
    </ng-container>
  </ion-list>
</ion-content>
