<ion-content class="ion-padding">
  <ion-toolbar>
    <ion-list>
      <ion-list-header class="st-flex-col">
        <ion-label>Invite {{ userMain.displayName }}</ion-label>
        <ion-label>Choose course</ion-label>
      </ion-list-header>

      <ion-radio-group [value]="selectedCourseRole" class="st-flex-space-between" [(ngModel)]="selectedCourseRole">
        <ion-item class="c-radio">
          <ion-label>{{ COURSE_ROLES_ENUM.STUDENT }}</ion-label>
          <ion-radio slot="start" color="tertiary"
                     [value]="COURSE_ROLES_ENUM.STUDENT"
                     class="ion-margin-end"></ion-radio>
        </ion-item>

        <ion-item class="c-radio">
          <ion-label>{{ COURSE_ROLES_ENUM.MARKER }}</ion-label>
          <ion-radio slot="start" color="tertiary"
                     [value]="COURSE_ROLES_ENUM.MARKER"
                     class="ion-margin-end"></ion-radio>
        </ion-item>
      </ion-radio-group>
    </ion-list>
  </ion-toolbar>

  <!-- list still open managed courses -->
  <ion-list>
    <ion-item class="st-font-1-bold">
      <ion-label>ID</ion-label>
      <ion-label class="c-course-name">Name</ion-label>
      <ion-label>Length</ion-label>
    </ion-item>

    <!-- table body -->
    <ion-item button *ngFor="let course of stUser.courses | courseFilterManagedOpen"
              (click)="sendInvitationToCourse(course.course)">
      <ion-label>{{ course.course.Id }}</ion-label>
      <ion-label class="c-course-name">{{ course.course.longName }}</ion-label>
      <ion-label>{{ course.course.durationFrom | date: 'dd.MM.YYYY' }}
        - {{ course.course.durationTo | date: 'dd.MM.YYYY' }}</ion-label>
    </ion-item>
  </ion-list>

</ion-content>
