<ion-list>
  <!-- table header -->
  <ion-item class="st-font-1-bold">
    <ion-label>ID</ion-label>
    <ion-label>Name</ion-label>
    <ion-label>Role</ion-label>
    <ion-label>Unrated tests</ion-label>
    <ion-label>Nearest test</ion-label>
    <ion-label>Course length</ion-label>
  </ion-item>

  <!-- table body -->
  <ion-item [button]="enableClick" *ngFor="let userCourse of userCourses">
    <ion-label>{{ userCourse.course.Id }}</ion-label>
    <ion-label>{{ userCourse.course.longName }}</ion-label>
    <ion-label>{{ userCourse.role }}</ion-label>
    <ion-label>{{ userCourse.course.numberOfTests }}</ion-label>
    <ion-label>{{ userCourse.course.confirmedTests | courseNearestTest }}</ion-label>
    <ion-label>{{ userCourse.course.durationFrom | date: 'dd.MM.YYYY' }}
      - {{ userCourse.course.durationTo | date: 'dd.MM.YYYY' }}</ion-label>
  </ion-item>

</ion-list>
