@import "variables";

:host {
  .modification-button {
    @media (max-width: #{$st-var-sm-split}) {
      width: 100%;
    }
  }

  .test-info {
    font-size: 18px;
    color: #223f92;
    font-weight: bold;
  }
}
