<ion-content class="ion-padding ion-margin">
  <ion-toolbar>
    <ion-label class="st-title" style="margin-left: 25px">
      Edit course
    </ion-label>
    <ion-buttons slot="end">
      <ion-button color="danger" (click)="dismissModal()">
        <ion-icon name="close-outline"></ion-icon>
        Close
      </ion-button>
    </ion-buttons>
  </ion-toolbar>


  <!-- course edit -->
  <ng-container *ngIf="course$ | async as course">
    <app-course-create-form-container
      [course]="course"
      (formSubmitEmitter)="submittedForm($event)">
    </app-course-create-form-container>
  </ng-container>
</ion-content>
