<ion-header>
  <ion-toolbar class="ion-padding-horizontal">
    <ion-button fill="clear" class="st-title" (click)="redirectToDashboard()">menu</ion-button>


    <ion-buttons slot="end">
      <!-- user is logged in -->
      <ng-container *ngIf="user$ | async as user; else logInSection">
        <ion-chip [disabled]="true" class="ion-margin-end">
          <ion-avatar>
            <ion-img [src]="user.photoURL"></ion-img>
          </ion-avatar>
          <ion-label>{{ user.displayName }}</ion-label>
        </ion-chip>


        <ion-button color="danger" fill="clear" (click)="logout()">
          Logout
        </ion-button>
      </ng-container>

      <!-- user not logged in -->
      <ng-template #logInSection>
        <ion-button color="primary" fill="clear" (click)="authenticate()">
          LogIn
        </ion-button>
      </ng-template>

    </ion-buttons>
  </ion-toolbar>
</ion-header>
