@import "src/theme/variables";

:host {
  ion-chip {
    min-width: 175px;
    width: auto;
    padding-left: 10px;
    opacity: 1;

    ion-avatar {
      margin-right: 16px;
    }

    @media (max-width: #{$st-var-sm-split}) {
      display: none;
    }
  }

  .checkmark {
    padding-right: 16px;
    color: #2dd36f;
  }
}
