<ion-content class="ion-padding">
  <ion-toolbar>
    <ion-buttons slot="end">
      <ion-button color="danger" (click)="dismissModal()">
        <ion-icon name="close-outline"></ion-icon>
        Close
      </ion-button>
    </ion-buttons>
  </ion-toolbar>

    <!-- selected user's info -->
    <ion-toolbar>
      <ion-label>
        <ion-text class="c-user-name">
          Meno Priezvisko
        </ion-text>
        <div class="st-flex">
          <div class="st-dot st-b-green"></div>
          <ion-text>Online</ion-text>
        </div>
      </ion-label>

      <ion-buttons slot="end">
        <ion-button color="primary">
          <ion-icon name="close-outline"></ion-icon>
          Invite into course
        </ion-button>
      </ion-buttons>
    </ion-toolbar>

    <!-- selected user's courses -->

</ion-content>
