<ion-content class="ion-padding">
  <ion-toolbar>
    <ion-buttons slot="end">
      <ion-button color="danger" (click)="dismissModal()">
        <ion-icon name="close-outline"></ion-icon>
        Close
      </ion-button>
    </ion-buttons>
  </ion-toolbar>

  <!-- selected user's info -->
  <ion-toolbar>
    <ion-label class="st-display-flex-center">
      <app-account-identification-item
        [userMain]="userPublic"
        [isOnline]="userPublic.isOnline">
      </app-account-identification-item>
    </ion-label>

    <ion-buttons slot="end">
      <ion-button color="primary">
        Invite into course
      </ion-button>
    </ion-buttons>
  </ion-toolbar>

  <!-- selected user's courses -->
  <ion-grid class="ion-padding-horizontal">

    <!-- courses manage -->
    <ion-row>
      <ion-col size="12">
        <ion-title>Manage courses</ion-title>
        <app-courses-manage></app-courses-manage>
      </ion-col>
    </ion-row>

    <!-- courses active -->
    <ion-row>
      <ion-col size="12">
        <ion-title>Active courses</ion-title>
        <app-courses-active></app-courses-active>
      </ion-col>
    </ion-row>

    <!-- courses completed -->
    <ion-row>
      <ion-col size="12">
        <ion-title>Completed courses</ion-title>
        <app-courses-completed></app-courses-completed>
      </ion-col>
    </ion-row>
  </ion-grid>
</ion-content>
