<ion-item>
  <ion-label class="st-fit-content">
    <ion-button fill="clear" (click)="back()">
      <ion-icon name="arrow-back" slot="icon-only"></ion-icon>
    </ion-button>
  </ion-label>
  <ion-label class="ion-text-center">
    {{ viewTitle }}
  </ion-label>
  <ion-label class="st-fit-content st-flex-end">
    <ion-button fill="clear" (click)="next()">
      <ion-icon name="arrow-forward" slot="icon-only"></ion-icon>
    </ion-button>
  </ion-label>
</ion-item>

<calendar
  [eventSource]="eventSource"
  [calendarMode]="calendar.mode"
  [currentDate]="calendar.currentDate"
  (onTitleChanged)="onViewTitleChanged($event)"
  [sliderOptions]="{allowTouchMove:false}"
>
</calendar>
