<form [formGroup]="form">
  <ion-item>
    <ion-label position="floating">Search user by name</ion-label>
    <ion-input placeholder="Enter name" formControlName="displayName"></ion-input>
  </ion-item>
</form>

<!-- searched name's results -->
<ion-list>
  <app-account-identification-item
    *ngFor="let user of searchedUsers$ | async"
    (click)="clickedUser(user)"
    [showItemBorder]="true"
    [userMain]="user"
    [isOnline]="user.isOnline"
    [enableClick]="true">
  </app-account-identification-item>
</ion-list>
