@import "variables";

:host {
  ion-textarea {
    min-height: 65px;
  }

  .c-comment-item {
    width: 50%;
    @media (max-width: #{$st-var-sm-split}) {
      width: 100%;
    }
  }

  .c-question-points-wrapper {
    padding-left: 16px;
    padding-right: 16px;
    align-items: center;
    display: flex;
    justify-content: space-between;
    @media (max-width: #{$st-var-md-split}) {
      display: block;
      padding-left: 4px;
      padding-right: 4px;
      padding-top: 10px;
    }
  }

  .c-question-wrapper {
    padding-left: 16px;
    margin-top: 30px;
    margin-bottom: 16px;
  }

  ion-label {
    opacity: 1 !important;
  }

}
