<ion-list>
  <ion-list-header>
    <ion-label>{{ memberType }}</ion-label>
  </ion-list-header>

  <!-- teacher + markers or students -->
  <ion-grid>
    <ion-row>
      <ion-col *ngFor="let marker of members" size="12" size-sm="6" size-md="4">
        <app-account-identification-item
          (clickedItemEmitter)="clickedItem($event)"
          [userMain]="marker"
          [enableClick]="enableClick">
        </app-account-identification-item>
      </ion-col>
    </ion-row>
  </ion-grid>
</ion-list>
