<ng-container *ngIf="courseTakenTest$ | async as courseTakenTest">
  <!--  test started info -->
  <ion-toolbar>
    <ion-item lines="none">
      <ion-label>
        <div class="st-font-size-16" style="font-weight: bolder;">Test name: {{ courseTakenTest.testName }}</div>
        <div class="st-font-size-16" style="font-weight: bolder;">Points: {{ courseTakenTest.testPoints }}</div>
        <div class="st-font-size-16" style="font-weight: bolder;">Duration: {{ courseTakenTest.duration }}</div>
        <div class="st-font-size-16" style="font-weight: bolder;">Time started: {{ courseTakenTest.timeStarted | date: 'HH:MM:ss dd.MM.YYYY' }}</div>
      </ion-label>
      <ion-label class="ion-text-end st-font-size-18">
        Remaining time {{ remainingMinutesCountDown$ | async }} minutes {{ oneMinuteCountdown$ | async }} seconds
      </ion-label>
    </ion-item>
  </ion-toolbar>

  <!-- test questions -->
  <app-course-test-form
    [state]="courseTakenTest.testFormState"
    [courseTest]="courseTakenTest$ | async">
  </app-course-test-form>

  <!-- submit button -->
  <ion-buttons class="ion-justify-content-end">
    <ion-button shape="round" fill="solid" color="primary" (click)="submitTest()">Submit</ion-button>
  </ion-buttons>
</ng-container>
