<ng-container *ngIf="courseTest$ | async as courseTest">
  <!-- buttons to save / delete / accept test -->
  <app-course-test-form-buttons
    [loggedInUser]="userMain$ | async"
    [courseTestPublic]="courseTest"
    (sendTestToApprovalEmitter)="sendTestToApproval()"
    (saveTestEmitter)="saveTest()"
    (deleteTestEmitter)="deleteTest(courseTest)"
    (approveTestEmitter)="approveTest($event, courseTest)"
  >
  </app-course-test-form-buttons>

  <!-- error message -->
  <ion-toolbar
    class="st-error ion-text-center ion-padding"
    *ngIf="errorMessage"
  >
    {{ errorMessage }}
  </ion-toolbar>

  <!-- test form -->
  <app-course-test-form
    [state]="CourseTestFormStateEnum.CREATE"
    [user]="userMain$ | async"
    [courseTest]="courseTest"
  >
  </app-course-test-form>
</ng-container>
