

// font
$st-var-font-0: '#E1E1E1';
$st-var-font-1: '#C0C0C0';
$st-var-font-2: '#9D9D9D'; // for icons
$st-var-font-3: '#828282';
$st-var-font-4: '#707070'; // for item in table


// Screens splits
$st-var-xs-split: '400px';
$st-var-sm-split: '576px';
$st-var-md-split: '768px';
$st-var-lg-split: '992px';
$st-var-xl-split: '1200px';
$st-var-xxl-split: '1600px';


$st-ionic-label-min-height: '30px';
