@import "custom-variables";

.spinner-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  min-height: 70vh;
}

ion-spinner {
  width: 70px !important;
  height: 70px !important;
}

.st-small-padding {
  padding: 5px;
}

// ------------- BORDER START --------------------

.st-font-white {
  color: white !important;
}

.st-font-0 {
  color: #{$st-var-font-0};
}

.st-font-1 {
  color: #{$st-var-font-1};
}

.st-font-2 {
  color: #{$st-var-font-2};
}

.st-font-3 {
  color: #{$st-var-font-3};
}

.st-font-4 {
  color: #{$st-var-font-4};
}


.st-font-0-bold {
  color: #{$st-var-font-0} !important;
  font-weight: bold;
}

.st-font-1-bold {
  color: #{$st-var-font-1} !important;
  font-weight: bold;
}

.st-font-2-bold {
  color: #{$st-var-font-2} !important;
  font-weight: bold !important;
}

.st-font-3-bold {
  color: #{$st-var-font-3} !important;
  font-weight: bold !important;
}

.st-font-4-bold {
  color: #{$st-var-font-4} !important;
  font-weight: bold !important;
}


.st-small-right-space {
  margin-right: 8px !important;
}

.st-small-left-space {
  margin-left: 8px !important;
}


.st-section-title {
  color: #777777;
  font-size: 18px;
}

// custom headers
.st-title {
  color: #{$st-var-font-0};
  font-size: 18px !important;
}

.st-dot {
  height: 18px;
  width: 18px;
  border-radius: 50%;
  margin-right: 6px;
}

.st-b-red {
  background-color: red;
}

.st-b-green {
  background-color: green;
}


// ---------------------------------------------
// - DATA LABELS
.st-data-label-parent {
  color: #{$st-var-font-1} !important; // !important
  font-size: 14px !important;
  // min-width: 65%;
  max-width: fit-content;
  min-width: fit-content;
}

.st-fit-content {
  max-width: fit-content;
  min-width: fit-content;
}

.st-data-label {
  color: #{$st-var-font-2}; // !important
  font-size: 14px !important;
  word-wrap: break-word;
}


.st-data-item {
  padding-left: 20px;
  @media (max-width: #{$st-var-sm-split}) {
    padding-left: 0;
  }
}

.st-flex-end {
  //text-align: end !important;
  display: flex !important;
  justify-content: flex-end;
  align-items: flex-end;
}

.st-flex-end-sm {
  @media (max-width: #{$st-var-sm-split}) {
    text-align: end !important;
    display: flex !important;
    justify-content: flex-end;
    align-items: flex-end;
  }
}

.st-data-item-wrapper {
  border-bottom: 1px solid #66666633 !important;
}

.st-sm-table-item {
  padding-top: 6px !important;
  padding-bottom: 6px !important;
}

// ---------------------------------------------
// FONT SIZES
.st-font-size-11 {
  font-size: 11px !important;
}

.st-font-size-12 {
  font-size: 12px !important;
}

.st-font-size-13 {
  font-size: 13px !important;
}

.st-font-size-14 {
  font-size: 14px !important;
}

.st-font-size-16 {
  font-size: 16px !important;
}

.st-font-size-15 {
  font-size: 15px !important;
}

.st-font-size-18 {
  font-size: 18px !important;
}

.st-font-size-20 {
  font-size: 20px !important;
}

.st-font-size-24 {
  font-size: 24px !important;
}


.st-transparent-background {
  --background: transparent;
  --box-shadow: none;
  --background-hover: none;
}

.st-icon-size-30 {
  font-size: 30px;
}

.st-icon-size-header {
  font-size: 32px;
  margin-right: 12px !important;
  @media (max-width: #{$st-var-sm-split}) {
    font-size: 30px;
  }
}

.st-page-header-container-item {
  --padding-start: 0;
}

.st-font-size-header {
  font-size: 26px;
  @media (max-width: #{$st-var-sm-split}) {
    font-size: 22px;
  }
}


// ----------------------------------------------------
// ----------------------------------------------------
// ----------------------------------------------------
// WIDTH

.st-width-full-md-screen {
  @media (max-width: #{$st-var-md-split}) {
    width: 100% !important;
  }
}

.st-width-full-sm-screen {
  @media (max-width: #{$st-var-sm-split}) {
    width: 100% !important;
  }
}

.st-width-100 {
  width: 100%;
}

.st-width-49 {
  width: 49%;
  @media (max-width: #{$st-var-sm-split}) {
    width: 100% !important;
  }
}

.st-width-32 {
  width: 32%;
  @media (max-width: #{$st-var-sm-split}) {
    width: 100% !important;
  }
}

.st-height-100 {
  height: 100%;
}

.st-width-90-center {
  width: 90%;
  margin: auto;
  @media (max-width: #{$st-var-xl-split}) {
    width: 100% !important;
  }
}

.st-error {
  /*color: red;
  font-size: 20px;*/
  text-align: center;
  padding: 10px;
  font-size: 18px;
  margin: auto;
  background-color: #521a1a;
  border-radius: 12px;
  color: #ff0000;
  width: 60%;
  margin-top: 16px;
  margin-bottom: 16px;
}

.st-display-flex-center {
  display: flex !important;
  align-items: center !important;
  flex-flow: row !important;
}


// BUTTONS

.st-button-full {
  width: 100%;
  margin: 10px;
}

.st-buttons-container {
  margin-top: 16px !important;
  display: flex;
  flex-flow: column;
}


// HOVER OVER
.ion-activatable {
  transition: All 0.3s ease-out;
  cursor: pointer;

  &:hover {
    border-radius: 8px;
    transform: scale(0.98);
    background: #7070702e;
  }
}

.ion-activatable-focus {
  border-radius: 8px;
  transform: scale(0.98);
  background: #7070702e;
}

.st-clickable {
  transition: All 0.3s ease-out;
  cursor: pointer;

  &:hover {
    transform: scale(0.96);
  }
}

/* Custom Skeleton Line Height and Margin */
ion-skeleton-text {
  line-height: 16px;
  --background-rgb: 200, 200, 255;
}


// MODEL / POP-UP / ALERT

// class to add for each entry-components
.custom-modal .modal-wrapper {
  background: #dadada;
  width: 85% !important;
  height: 750px !important;
  @media (max-width: #{$st-var-md-split}) {
    width: 100% !important;
    height: 100% !important;
  }

  ion-content {
    --background: #dadada;
  }
}


// class to add for each popover
.custom-popover .popover-wrapper {
  background: #ffffff;
  --width: 600px;

  @media (max-width: #{$st-var-sm-split}) {
    --width: 92%;
  }

  ion-content {
    --background: #ffffff;
  }
}

// toasters use it
.my-custom-alert-class .alert-wrapper {
  background: #ffffff;
  min-width: 550px;

  .alert-message {
    color: #0c1348;
  }

  @media (max-width: #{$st-var-sm-split}) {
    min-width: auto;
  }

  ion-content {
    --background: #ffffff;
  }
}


.st-item-form {
  --background: #f3f3f3;
  border: 1px solid #8e8e8e;
  margin: 5px !important;
  border-radius: 14px;
  background: #f3f3f3;
}

.st-item-form-disabled {
  background: #f9ebcd !important;
}


// -------------------------------------
// DISPLAY
.st-flex-row-sm-col {
  display: flex !important;
  flex-flow: row !important;
  @media (max-width: #{$st-var-sm-split}) {
    flex-flow: column !important;
  }
}

.st-flex-row {
  display: flex;
  flex-flow: row;
  align-items: center;
}

.st-flex-row-important {
  display: flex !important;
  flex-flow: row !important;
  align-items: center !important;
}

.st-flex {
  display: flex;
}

.st-justify-center {
  justify-content: center !important;
}

.st-flex-row-md-justify-center {
  display: flex !important;
  flex-flow: row !important;
  align-items: center !important;
  justify-content: space-between !important;
  @media (max-width: #{$st-var-md-split}) {
    justify-content: center !important;
  }
}

.st-flex-row-small-col {
  display: flex;
  @media (max-width: #{$st-var-sm-split}) {
    flex-flow: column;
  }
}

.st-flex-space-between {
  display: flex;
  justify-content: space-between;
  flex-flow: row;
  @media (max-width: #{$st-var-sm-split}) {
    flex-flow: column !important;
  }
}

.st-flex-col {
  display: flex !important;
  flex-flow: column !important;
}

.st-closed-course {
  background-color: #d66e67;
  border-radius: 8px;
}

.st-closed-course-text {
  color: #d66e67;
}

.st-completed-courses {
  background-color: #4cd654;
  border-radius: 8px;
}

.st-completed-courses-text {
  color: #4cd654;
}

.st-hide-xxl-down {
  @media (max-width: #{$st-var-xxl-split}) {
    display: none;
  }
}

.st-hide-xs-down {
  @media (max-width: #{$st-var-xs-split}) {
    display: none;
  }
}
