<ion-content class="ion-padding">
  <ion-grid>
    <!-- course back button -->
    <ng-container *ngIf="course$ | async as course">
      <!-- back button -->
      <app-grid-page-content>
        <ion-toolbar>
          <ion-buttons slot="start">
            <ion-back-button [defaultHref]="'menu/course/' + course.courseId"
                             (click)="backToCourse()"
                             text="Back to course"></ion-back-button>
          </ion-buttons>
        </ion-toolbar>
      </app-grid-page-content>

      <!-- course info -->
      <ion-row class="ion-justify-content-center ion-margin-bottom">
        <ion-col size="12" size-lg="10" size-xl="9">
          <ion-title style="font-size: 21px" color="primary">
            Course: [{{ course.shortName }}] {{ course.longName }}
          </ion-title>
        </ion-col>
      </ion-row>
    </ng-container>

    <!-- router -->
    <app-grid-page-content>
      <router-outlet></router-outlet>
    </app-grid-page-content>
  </ion-grid>
</ion-content>
